<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View pages</title>
  </head>
  <body>
    <h1>Basic Website</h1>
    <form action="/submit" method="post">
      <input type="text" name="name" id="" placeholder="Name" /> <br />
      <br />
      <input type="text" name="email" id="" placeholder="Email" /><br />
      <br />
      <button type="submit">submit data</button>
    </form>
  </body>
</html>
